@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Rajdhani:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Main CSS */
body {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 400;
  color: #79aea3;
  text-decoration: inherit;
}

a:hover {
  color: #e07a5f;
}

.active {
  color: #b5f44a;
}

/* About Me */
.about-me-section img {
  width: 20%;
  padding-bottom: 1em;
}

/* Main Navbar */
.navbar {
  background-color: #434371 !important;
  height: 2.5em;
  font-size: 2em;
  position: sticky;
  top: 0;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover{
  color: white;
}

.main-navbar-links a {
  padding-right: 40px !important;
}

/* Contact Form */
.main-resume-page,
.main-contact-form {
  height: 100vh;
}

/* Footer */
.footer-style {
  background-color: #434371;
  color: #79aea3;
  position: sticky;
  bottom: 0;
}

.footer-style a {
  filter: opacity(0.3) drop-shadow(0 0 0 #b5f44a);
}

.footer-style a:hover {
  filter: opacity(1) drop-shadow(0 0 0 white);
  transition: filter 1s ease-out;
}

/* Button CSS */
.resume-download-button {
  background-color: #79aea3;
  color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: grey;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 991px) {
  /* Main Navbar */
  .main-navbar-links a {
    padding-right: 40px !important;
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
  }
  /* About Me */
  .about-me-section > img {
    width: 100%;
  }
  /* Portfolio Page */
  .portfolio-cards {
    flex-wrap: wrap;
  }
  .portfolio-cards .card-one,
  .portfolio-cards .card-two,
  .portfolio-cards .card-three,
  .portfolio-cards .card-four {
    width: 100%;
  }
}
/* Portfolio Page */
.portfolio-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-one a,
.card-two a,
.card-three a,
.card-four a  {
  color: white;
}

.card-one a:hover,
.card-two a:hover,
.card-three a:hover,
.card-four a:hover {
  color: #b5f44a;
}

.card-one {
  width: 40%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  text-align: right;
  color: white;
  margin: 20px;
  background-image: linear-gradient(
      rgba(72, 64, 65, 0.5),
      rgba(181, 244, 74, 0.5)
    ),
    url("/assets/employee-tracker.png");
  background-size: cover;
}

.card-two {
  width: 40%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  text-align: right;
  color: white;
  margin: 20px;
  background-image: linear-gradient(
      rgba(72, 64, 65, 0.8),
      rgba(121, 174, 163, 0.8)
    ),
    url("/assets/weather-dashboard.png");
  background-size: cover;
}

.card-three {
  width: 40%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  text-align: right;
  color: white;
  margin: 20px;
  background-image: linear-gradient(
      rgba(72, 64, 65, 0.5),
      rgba(181, 244, 74, 0.5)
    ),
    url("/assets/vehicle-builder.png");
  background-size: cover;
}

.card-four {
  width: 40%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  text-align: right;
  color: white;
  margin: 20px;
  background-image: linear-gradient(
      rgba(72, 64, 65, 0.8),
      rgba(121, 174, 163, 0.8)
    ),
    url("/assets/readme-generator.png");
  background-size: cover;
}
